.fundPoolNorm{

    float:left;
    width:26%;
    border: 1px solid #aab;
    padding:10px 10px 10px 50px;
    margin:10px;
    border-radius: 20px;
    background-color: aliceblue;
    max-height:200px;
    text-align: justify;
}

.fundPoolNorm:hover{

    background-color: #346;
    color:white;

}


.fundPoolBrk{
    float:left;
    width:26%;
    border: 1px solid #aab;
    padding:10px 10px 10px 50px;
    margin:10px;
    border-radius: 20px;
    background-color: aliceblue;
    clear:both;
    max-height:200px;
    text-align: justify;   
}


.fundPoolBrk:hover {

    background-color: #346;
    color:white;
    
}