.fundPoolNorm{

    display:inline-block;
    width:26%;
    border: 1px solid #aab;
    padding:10px 10px 10px 50px;
    margin:10px;
    border-radius: 20px;
    background-color: #233336;
    max-height:200px;
    color:white;
    text-align: justify;
}

.fundPoolNorm:hover{

    background-color: #347;
    color:white;
}


.fundPoolBrk{
    display:inline-block;
    width:26%;
    border: 1px solid #aab;
    padding:10px 10px 10px 50px;
    margin:10px;
    border-radius: 20px;
    background-color: #233336;
    clear:both;
    color:white;
    max-height:200px;
    text-align: justify;   
}


.fundPoolBrk:hover {

    background-color: #347;
    color:white;
    
}