.fundPool{
    display:block;
    width:80%;
    border: 1px solid #aab;
    padding:10px 10px 10px 50px;
    margin:auto;
    border-radius: 30px;
    background-color: #112233;
    height:236px;
    color:white;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14pt;
}

.fundPool .item {

    margin: 10px;
}

.fundPool:hover{

    background-color: #222368;
    color:white;
}

.investorDiv{
    display:block;
    width:80%;
    text-align: justify;
    padding:2px;
    margin: auto;
}

.investorTitle {

    background-color: #352;
    padding:10px;
    border-radius: 30px;
    height: 40px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    max-width: 200px;
    margin-top: 30px;
    text-align: center;
}

.investorRow {

    background-color: #223356;
    padding:10px;
    border-radius: 30px;
    height: 50px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    max-width: 90%;
    margin-top: 30px;
    text-align: center;
}