@media only screen and (max-width: 768px), only screen and (max-device-width: 768px){

    .fundPoolNorm{

        display:block;
        max-width:90%;
        border: 1px solid #aab;
        border-radius: 20px;
        background-image: linear-gradient(to right,#223344 ,#235682);
        height:200px;
        color:white;
        text-align: justify;
        padding:10px;
        margin: auto; 
        margin-bottom: 20px;
        
    }

    .fundPoolNorm:hover{

        background-image: linear-gradient(to right,#111122 ,#347);      
        color:white;
    }


    .fundPoolBrk{
    
        display:block;
        max-width:90%;
        border: 1px solid #aab;
        border-radius: 20px;
        background-image: linear-gradient(to right,#223344 ,#235682);
        height:200px;
        color:white;
        text-align: justify;
        padding:10px;
        margin: auto; 
        margin-bottom: 20px;
     
    }

    .fundPoolBrk:hover {

        background-image: linear-gradient(to right,#111122 ,#347);      
        color:white;
        
    }



}

@media only screen and (min-device-width: 769px){

    .fundPoolNorm{

        display:inline-block;
        width:26%;
        border: 1px solid #aab;
        padding:10px 10px 10px 50px;
        margin:10px;
        border-radius: 20px;
        background-image: linear-gradient(to right,#223344 ,#235682);
        max-height:200px;
        color:white;
        text-align: justify;
    }

    .fundPoolNorm:hover{

        background-image: linear-gradient(to right,#111122 ,#347);      
        color:white;
    }


    .fundPoolBrk{
        display:inline-block;
        width:26%;
        border: 1px solid #aab;
        padding:10px 10px 10px 50px;
        margin:10px;
        border-radius: 20px;
        background-image: linear-gradient(to right,#223344 ,#235682);
        clear:both;
        color:white;
        max-height:200px;
        text-align: justify;   
    }


    .fundPoolBrk:hover {

        background-image: linear-gradient(to right,#111122 ,#347);      
        color:white;
        
    }

}