.iconChooser {

    min-height:300px;
    max-height:400px;
    overflow: auto;
    width: 98%;
    padding:10px;
    margin:auto;
    background-color:transparent;
    text-align: center;
    border-radius: 10px;
}

.divFloat {

    text-align: center;
    width: 18%;
    display:inline-block;
    padding:10px;
    margin:10px;
    background:#335;
    border-radius: 10px;
    cursor: pointer;
}

.divFloat:hover {

    background-color: #626;
}

.divBreak {

    text-align: center;
    width: 18%;
    display:inline-block;
    padding:10px;
    margin:10px;
    clear:both;
    background:#335;
    border-radius: 10px;
    cursor: pointer;    
}


.divBreak:hover {

    background-color:#626;
}
