.roundModal {
    min-width: 80%;
    color:white;
}

.roundModal .ant-modal-content {

    border-radius: 30px;    
    background-image: linear-gradient(to right,#001, #235);      
    color:white;
}


.roundModal .ant-modal-header{

    border-radius: 30px 30px;    
    background-color:transparent;
    color:tomato;
    font-size: 30pt;
    margin:0 auto;

}

.shareViewModal {
    max-width: 70%;
    color:white;
    max-height:100px;
}

.shareViewModal .ant-modal-content {

    border-radius: 30px;    
    background-image: linear-gradient(to right,#003, #030);      
    color:white;
}

.shareViewModal .ant-modal-header{

    border-radius: 30px 30px;    
    background-color:transparent;
    color: white;
    font-size: 30pt;
    margin:0 auto;

}


.manageViewModal {
    max-width: 85%;
    color:white;
    max-height:100px;
}

.manageViewModal .ant-modal-content {

    border-radius: 30px;    
    background-image: linear-gradient(to right,#000, #005);    
    color:white;
}

.manageViewModal .ant-modal-header{

    border-radius: 30px 30px;    
    background-image: linear-gradient(to right,#000, #005);   
    color: white;
    font-size: 30pt;
    margin:0 auto;

}
