.roundModal {
    min-width: 80%;
    color:white;
}

.roundModal .ant-modal-content {

    border-radius: 30px;    
    background-color: #88a;
    color:white;

}


.roundModal .ant-modal-header{

    border-radius: 30px 30px;    
    background-color:transparent;
    color:tomato;
    font-size: 30pt;
    margin:0 auto;

}

