@media only screen and (max-device-width: 768px){

   
    .mobileMenu {

        display:block;
    }

    .desktopMenu {

        display: none;
    }


    .desktopHomeLogo{
        display:none;
    }

    .mobileHomeLogo {

        display:block;
    }

}

@media only screen and (min-device-width: 769px){

    .mobileMenu {

        display:none;
    }

    .desktopMenu {

        display:block;
    }

    .desktopHomeLogo{
        display: block;
    }

    .mobileHomeLogo {

        display: none;
    }

    .topLink {
        float:left;
        margin:7px 20px 10px;
        padding:5px;
        min-width: 100px;
        text-align: center;
        background:#333;
        border-radius: 6px;
    }

    .topLinkSel {
        float:left;
        margin:7px 20px 10px;
        padding:5px;
        min-width: 100px;
        text-align: center;
        background: #67f;
        border-radius: 6px;
    }

}


