.walletBar {

    width:100%;
    padding:0px 5px 20px 5px;
    text-align: right;
    margin:1px auto;
    background:#235;
    height:50px;
}

.topLink {
    float:left;
    margin:7px 20px 10px;
    padding:5px;
    min-width: 100px;
    text-align: center;
    background:#445;
    border-radius: 6px;
}

.topLinkSel {
    float:left;
    margin:7px 20px 10px;
    padding:5px;
    min-width: 100px;
    text-align: center;
    background: #67d;
    border-radius: 6px;
}


.link{

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

.walletButton {

    min-width:160px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    background: #ae4;
    color:black;
    border-radius: 4px;
    float:right;
    margin:10px;
    height: 30px;
}

.disconButton {

    min-width:160px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    background: #e00;
    color:white;
    border-radius: 4px;
    float:right;
    margin:10px;
    height:30px;
}

.disconHidden {

    display:none;
}
