.walletBar {

    width:98%;
    padding:0px 5px 20px 5px;
    text-align: right;
    margin:10px;
    background:#358;
    height:50px;
}

.walletButton {

    min-width:160px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    background: #ae4;
    color:black;
    border-radius: 4px;
    float:right;
    margin:10px;
    height: 30px;
}

.disconButton {

    min-width:160px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10pt;
    background: #e00;
    color:white;
    border-radius: 4px;
    float:right;
    margin:10px;
    height:30px;
}

.disconHidden {

    display:none;
}
